fastapi
uvicorn[standard]
sqlalchemy
python-multipart
numpy
pydantic

# Face and Image Processing
face-recognition
opencv-python-headless
deepface

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
twilio
